/* general start */
@font-face {  /*This code adds a new font-face, which can be used in the product*/
    src: url("../font/Montserrat-Light.ttf");
    font-family: Monlight;
}

:root {
    --purple: #3B3646;
    --red: #EE4B5A;
}

* {
    font-family: Monlight;
}

body {
    background-color: #1C1C1C;
}

h1, h2, h3, h4, h5, h6, p, a, li{
    color: white;
    font-size: 1.2rem;
}
/* general end */

/* cookie popup start */
#gdpr-cookie-message {
    position: fixed;
    right: 30px;
    bottom: 30px;
    max-width: 375px;
    background-color: var(--purple);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.25);
    margin-left: 30px;
    font-family: system-ui;
}
#gdpr-cookie-message h4 {
    color: var(--red);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
#gdpr-cookie-message h5 {
    color: var(--red);
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
#gdpr-cookie-message p, #gdpr-cookie-message ul {
    color: white;
    font-size: 15px;
    line-height: 1.5em;
}
#gdpr-cookie-message p:last-child {
    margin-bottom: 0;
    text-align: right;
}
#gdpr-cookie-message li {
    width: 49%;
    display: inline-block;
}
#gdpr-cookie-message a {
    color: var(--red);
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 2px;
    border-bottom: 1px dotted rgba(255,255,255,0.75);
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message a:hover {
    color: white;
    border-bottom-color: var(--red);
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message button,
button#ihavecookiesBtn {
    border: none;
    background: var(--red);
    color: white;
    font-size: 15px;
    padding: 7px;
    border-radius: 3px;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message button:hover {
    background: white;
    color: var(--red);
    transition: all 0.3s ease-in;
}
button#gdpr-cookie-advanced {
    background: white;
    color: var(--red);
}
#gdpr-cookie-message button:disabled {
    opacity: 0.3;
}
#gdpr-cookie-message input[type="checkbox"] {
    float: none;
    margin-top: 0;
    margin-right: 5px;
}
#gdpr-cookie-types label {
    font-size: 0.9rem;
}
/* cookie popup end */

/* mobile start */
/* header start */
.desktopnav {
    display: none;
}

.mobilnav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 1.5rem; 
}

#moblogo {
    width: 80%;
}

.navbar-toggler {
    margin-left: 15vw;
}

.mobilnav .nav-link, .mobilnav .moblink {
    color: white;
}

.nav-item {
    margin-left: 5vw;
}

.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: #307ca1;
    }
    
    .animated-icon2 span {
    background: #e3f2fd;
    }
    
    .animated-icon3 span {
    background: #f3e5f5;
    }
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
/* header end */

/* index start */
.mainart {
    position: relative;
    width: 100%;
  }
  
  .mainart img {
    width: 100%;
    opacity: 0.7;
    height: auto;
  }
  
  .mainart .btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
 /* index end */

    /* innovation start */
    .inno-desktop{
        display: none;
    }

    .inno-section1{
        background-image: url(../img/sections/innosec1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
    }

    .inno-section2{
        background-image: url(../img/sections/innosec2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
    }

    .inno-section3{
        background-image: url(../img/sections/innosec3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;  
    }

    .section1-text, .section2-text, .section3-text{
        background: rgba(0,0,0,0.5);
        height: 92vh;
        
    }

    .inno-info-text{
        width: 85%;
        margin-left: 10vw;
    }

    .inno-info-text h1{
        font-size: 3rem;
        padding-top: 4vh;
        margin-bottom: 3vh;
    }
    
    .inno-info-text h2{
        font-size: 2rem;
        margin-bottom: 3vh;
    }
    
    .inno-info-text p, .inno-info-text li{
        margin-top: 2vh;
        font-size: 1.1rem;
    }

    .inno-info-text li{
        margin-left: 3vw;
    }

    .inno-btns-single{
        margin-left: 10vw;
        margin-bottom: 2vh;
        margin-top: 5vh;
    }
    /* innovation end */

    /* consulting start */
    .con-desktop{
        display: none;
    }
    
    .con-section1{
        background-image: url(../img/sections/consec1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
    }

    .con-section2{
        background-image: url(../img/sections/consec2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
    }

    .con-section3{
        background-image: url(../img/sections/consec3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
    }

    .section1-text, .section2-text, .section3-text, .section4-text{
        background: rgba(0,0,0,0.5);
        height: 92vh;
    }

    .con-info-text{
        width: 85%;
        margin-left: 10vw;
    }

    .con-info-text h1{
        font-size: 3rem;
        padding-top: 4vh;
        margin-bottom: 3vh;
    }
    
    .con-info-text h2{
        font-size: 2rem;
        margin-bottom: 3vh;
    }
    
    .con-info-text p, .con-info-text li{
        margin-top: 2vh;
        font-size: 1.1rem;
    }

    .con-info-text li{
        margin-left: 3vw;
    }

    .con-btns-single{
        margin-left: 10vw;
        margin-bottom: 2vh;
        margin-top: 5vh;
    }
    /* consulting end */

    /* contact start */
    .contact-desktop{
        display: none;
    }
    
    .contact-section1{
        background-image: url(../img/contact1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
    }

    .contact-section2{
        background-image: url(../img/contact2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
    }

    .section1-text, .section2-text{
        background: rgba(0,0,0,0.5);
        height: 92vh;
    }

    .con-info-text{
        width: 85%;
        margin-left: 10vw;
    }

    .con-info-text h1{
        font-size: 3rem;
        padding-top: 4vh;
        margin-bottom: 3vh;
    }
    
    .con-info-text h2{
        font-size: 2rem;
        margin-bottom: 3vh;
    }
    
    .con-info-text p, .con-info-text li{
        margin-top: 2vh;
        font-size: 1.1rem;
    }

    .con-info-text li{
        margin-left: 3vw;
    }

    .con-btns-single{
        margin-left: 10vw;
        margin-bottom: 2vh;
        margin-top: 5vh;
    }
    /* contact end */
    
     /* about start */
     .aboutus{
        background-image: url(../img/jellyfishies.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 115vh;
    }

    .about-info{
        background: rgba(0,0,0,0.5);
        height: 115vh;
    }

    .about-info-text{
        width: 85%;
        margin-left: 10vw;
    }

    .about-info-text h1{
        font-size: 3rem;
        padding-top: 4vh;
        margin-bottom: 3vh;
    }
    
    .about-info-text h2{
        font-size: 2rem;
        margin-bottom: 3vh;
    }
    
    .about-info-text p, .about-info-text li{
        margin-top: 2vh;
        font-size: 1.1rem;
    }

    .about-info-text li{
        margin-left: 3vw;
    }

    .about-btns-single{
        margin-left: 10vw;
        margin-bottom: 5vh;
        margin-top: 6vh;
    }

    .about-btns-row{
        margin-left: 3vw;
    }
    .about-btns-row li{
        list-style-type: none;
        display: inline;
        margin: 0;
    }

    .about-btns-row .btn{
        margin-bottom: 1vh;
    }

    .about-gallery h1{
        font-size: 2rem;
        margin-top: 5vh;
        margin-left: 7.5%;
        margin-bottom: 1vh;
    }

    .about-gallery-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin-left: 5%;
    }
    
    .about-gallery-grid img{
        width: 95%;
        margin: 2.5%;
        margin-top: 1vh;
    }
    /* about end */
    
    /* skabelon start */
    .skabelon-section{
        background-image: url(../img/sections/innosec3.jpg); 
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .skabelon-text-section{
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 1vh;
        padding-bottom: 4vh;
        
    }

    .skabelon-text-section h1{
        font-size: 3rem;
        padding-top: 4vh;
        margin-bottom: 3vh;
    }
    
    .skabelon-text-section h2{
        font-size: 2rem;
        margin-bottom: 3vh;
    }
    
    .skabelon-text-section p, .skabelon-text-section li{
        margin-top: 2vh;
        font-size: 1.1rem;
    }

    .skabelon-text-section li{
        margin-left: 3vw;
    }

    .skabelon-text-section img{
        width: 100%;
        margin-top: 2%;
    }

    .skabelon-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* skabelon end */

    /* footer start */
    .full {
    width: 100%;    
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #002147;
	height: auto;
	/* padding-bottom: 30px; */
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	color: white;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 0px;
	text-transform: uppercase;
  margin-bottom: 15px;
}

.footer h4 {
	color: white;
	font-size: 2em;
	font-weight: 600;
	line-height: 38px;
	padding: 40px 0 10px;
  font-weight: lighter
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 0px;
	color: #7F8C8D;
  padding: 0 0 8px 0;
}

.email{
  border-bottom: 3px solid #fff;
}
.footer ul li a {
	padding: 0 0 12px 0;
	display: block;
}
.footer a {
	color: white;
  font-weight: lighter;
}

.footer p {
	color: white;
  font-weight: lighter;
}

.footer a:hover {
	text-decoration:none;
  font-weight: bold;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

.footer a {
	color: #78828D
}

.footer-bottom {
  margin-top: 2em;
	border-top: 1px solid #DDDDDD;
	padding-top: 20px;
  padding-bottom: 10px;
  background: black;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
  font-size: 0.75em
}


    /* footer end */

/* mobile end */

/* desktop start */
@media only screen and (min-width: 768px) {
    
    /* header start */
    .mobilnav {
        display: none;
    }

    .desktopnav {
        display: grid;
        grid-template-columns: 1fr 3fr;
        background-color: #1C1C1C;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    #logo {
        width: 50%;
        height: auto;
        margin-left: 10%;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    #navigation {
        margin-right: 3%;
    }
    /* header end */

    /* index start */
    .mainsec {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .mainart {
        position: relative;
        width: 100%;
      }
      
      .mainart img {
        width: 100%;
        height: auto;
        height: 92vh;
      }
      
      .mainart .btn {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        bottom: 10%;
      }
    /* index end */

    /* innovation start */
    .top-section-inno, .mid-section-inno, .bot-section-inno {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;
    }

    .top-section-inno {
        background-color: purple;
    }

    .mid-section-inno {
        background-color: orange;
    }

    .inno-mobile{
        display: none;
    }

    .inno-desktop{
        display: block;
    }

    .inno-section1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: url(../img/sections/innosec1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
    }

    .inno-section2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: url(../img/sections/innosec2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
    }

    .inno-section3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: url(../img/sections/innosec3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;  
    }

    .section1-text, .section2-text, .section3-text, .section4-text{
        background: rgba(0,0,0,0.5);
        height: 92vh;
    }

    .inno-info-text{
        margin-left: 3vw;
    }

    .inno-info-text{
        margin-left: 3vw;
        margin-top: 4vh;
    }

    .inno-info-text h1{
        padding-top: 0;
        font-size: 2.5rem;
        margin-bottom: 3vh;
    }
    
    .inno-info-text h2{
        font-size: 1.3rem;
        margin-bottom: 3vh;
    }
    
    .inno-info-text p, .inno-info-text li{
        margin-top: 2vh;
        font-size: 0.9rem;
    }

    .inno-info-text li{
        margin-left: 3vw;
    }

    .inno-btns-single{
        margin-left: 3vw;
        margin-bottom: 2vh;
        margin-top: 17vh;
    }

    /* innovation end */

    /* consulting start */
    .con-mobile{
        display: none;
    }

    .con-desktop{
        display: block;
    }
    .con-section1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: url(../img/sections/consec1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
    }

    .con-section2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: url(../img/sections/consec2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
    }

    .con-section3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: url(../img/sections/consec3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;  
    }

    .section1-text, .section2-text, .section3-text, .section4-text{
        background: rgba(0,0,0,0.5);
    }

    .con-info-text{
        margin-left: 3vw;
    }

    .con-info-text{
        margin-left: 3vw;
        margin-top: 4vh;
    }

    .con-info-text h1{
        padding-top: 0;
        font-size: 2.5rem;
        margin-bottom: 3vh;
    }
    
    .con-info-text h2{
        font-size: 1.3rem;
        margin-bottom: 3vh;
    }
    
    .con-info-text p, .con-info-text li{
        margin-top: 2vh;
        font-size: 0.9rem;
    }

    .con-info-text li{
        margin-left: 3vw;
    }

    .con-btns-single{
        margin-left: 3vw;
        margin-bottom: 2vh;
        margin-top: 17vh;
    }
    /* consulting end */

    /* contact start */
    .contact-mobile{
        display: none;
    }

    .contact-desktop{
        display: block;
    }

    .contact-section1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: url(../img/contact1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
    }

    .contact-section2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: url(../img/contact2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
    }

    .section1-text, .section2-text{
        background: rgba(0,0,0,0.5);
    }

    .con-info-text{
        margin-left: 3vw;
    }

    .con-info-text{
        margin-left: 3vw;
        margin-top: 4vh;
    }

    .con-info-text h1{
        padding-top: 0;
        font-size: 2.5rem;
        margin-bottom: 3vh;
    }
    
    .con-info-text h2{
        font-size: 1.3rem;
        margin-bottom: 3vh;
    }
    
    .con-info-text p, .con-info-text li{
        margin-top: 2vh;
        font-size: 0.9rem;
    }

    .con-info-text li{
        margin-left: 3vw;
    }

    .con-btns-single{
        margin-left: 3vw;
        margin-bottom: 2vh;
        margin-top: 17vh;
    }
    /* contact end */

    /* about start */
    .about-mobile{
        display: none;
    }

    .about-desktop{
        display: block;
    }

    .aboutus{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: url(../img/jellyfishies.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
    }

    .about-info{
        background: rgba(0,0,0,0.5);
        height: 92vh;
    }

    .about-info-text{
        margin-left: 3vw;
    }

    .about-info-text{
        margin-left: 3vw;
        margin-top: 4vh;
    }

    .about-info-text h1{
        padding-top: 0;
        font-size: 2.5rem;
        margin-bottom: 3vh;
    }
    
    .about-info-text h2{
        font-size: 1.3rem;
        margin-bottom: 3vh;
    }
    
    .about-info-text p, .about-info-text li{
        margin-top: 2vh;
        font-size: 0.9rem;
    }

    .about-info-text li{
        margin-left: 3vw;
    }

    .about-btns-single{
        margin-left: 3vw;
        margin-bottom: 2vh;
        margin-top: 17vh;
    }

    .about-btns-row{
        margin-left: 3vw;
    }
    .about-btns-row li{
        list-style-type: none;
        display: inline;
        margin: 0;
    }

    .about-btns-row .btn{
        margin-bottom: 1vh;
    }

    .about-gallery h1{
        font-size: 2rem;
        margin-top: 5vh;
        margin-left: 7.5%;
        margin-bottom: 1vh;
    }

    .about-gallery-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 90%;
        margin-left: 5%;
    }
    
    .about-gallery-grid img{
        width: 95%;
        margin: 2.5%;
        margin-top: 1vh;
    }
    /* about end */

    /* underside skabelon start */
    .skabelon-section{
        background-image: url(../img/sections/innosec3.jpg); 
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .skabelon-text-section{
        background: rgba(0,0,0,0.5);
        width: 80%;
        height: 100%;
        margin-left: 10%;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }

    .skabelon-text-section h1{
        padding-top: 0;
        font-size: 2.5rem;
        margin-bottom: 3vh;
    }   
    
    .skabelon-text-section h2{
        font-size: 1.3rem;
        margin-bottom: 3vh;
    }
    
    .skabelon-text-section p, .skabelon-text-section li{
        margin-top: 2vh;
        font-size: 0.9rem;
    }

    .skabelon-text-section li{
        margin-left: 3vw;
    }

    .skabelon-text-section img{
        width: 100%;
        margin-top: 2%;
    }

    .skabelon-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* underside skabelon end  */
/* desktop end */
}